@import "tailwindcss";

@theme {
  --color-x-blue: #1da1f2;
  --color-x-green: #17bf63;
  --color-x-red: #e0245e;
}

@utility stat-card {
  position: relative;
  &::before {
    content: "";
    @apply top-0 right-0 left-0 absolute bg-transparent h-1 transition-[height] duration-200;
  }
  &.pending::before {
    @apply bg-amber-500;
  }
  &.done::before {
    @apply bg-emerald-500;
  }
  &.today::before {
    @apply bg-blue-500;
  }

  &.active {
    @apply bg-slate-50 border-slate-900;
    &::before {
      @apply h-1.5;
    }
    &.pending {
      @apply border-amber-500 bg-amber-500/[0.04];
    }
    &.done {
      @apply border-emerald-500 bg-emerald-500/[0.04];
    }
    &.today {
      @apply border-blue-500 bg-blue-500/[0.04];
    }
  }
}

@utility small-btn {
  & svg,
  & path {
    @apply pointer-events-none;
  }
}
